[submodule "test/test-cases/secrules-language-tests"]
	path = test/test-cases/secrules-language-tests
	url = https://github.com/owasp-modsecurity/secrules-language-tests
[submodule "others/libinjection"]
	path = others/libinjection
	url = https://github.com/libinjection/libinjection.git
[submodule "bindings/python"]
	path = bindings/python
	url = https://github.com/owasp-modsecurity/ModSecurity-Python-bindings.git
[submodule "others/mbedtls"]
	path = others/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
