*.o
*.lo
*.la
**/Makefile
**/Makefile.in
.deps
.libs
configure
configure~
config.log
config.status
aclocal.m4
libtool
.dirstamp
config.guess
config.sub
apache2/modsecurity_config_auto.h
apache2/modsecurity_config_auto.h.in
apache2/stamp-h1
build/apxs-wrapper
build/ar-lib
build/compile
build/depcomp
build/install-sh
build/libtool.m4
build/ltmain.sh
build/ltoptions.m4
build/ltsugar.m4
build/ltversion.m4
build/lt~obsolete.m4
build/missing
build/test-driver
mlogc/mlogc
mlogc/mlogc-batch-load.pl
tests/csv_rx-pm.pl
tests/gen_rx-pm.pl
tests/regression/misc/40-secRemoteRules.t
tests/regression/misc/50-ipmatchfromfile-external.t
tests/regression/misc/60-pmfromfile-external.t
tests/regression/server_root/conf/httpd.conf
tests/run-regression-tests.pl
tests/run-unit-tests.pl
tools/rules-updater.pl

