*.obj
*.tlog
*.log
*.pdb
*.dll
*.exp
*.ilk
*.lib
*.exe
*.suo
*.sdf
*.opensdf
*.so
*.o
*.Po
*.Plo
*.lo
*.un~
iis/release/*
iis/dependencies/build_dir/*
iis/dependencies/release_files/*
apache2/.deps/*
apache2/.libs/*
apache2/libinjection/.deps/*
apache2/libinjection/.libs/*
iis/.vs/*
iis/ModSecurityIIS.dll.Manifest
iis/*.obj
