.vscode
*.swp
*.stackdump
*.obj
*.tlog
*.log
*.pdb
*.dll
*.exp
*.ilk
*.lib
*.exe
*.suo
*.sdf
*.opensdf
*.so
*.o
*.Po
*.Plo
*.lo
*.un~

# Windows artifacts
iis/release/*
iis/dependencies/build_dir/*
iis/dependencies/release_files/*
apache2/.deps/*
apache2/.libs/*
apache2/libinjection/.deps/*
apache2/libinjection/.libs/*
iis/.vs/*
iis/ModSecurityIIS.dll.Manifest
iis/*.obj

# Linux build artifacts
Makefile
Makefile.in
aclocal.m4
alp2/Makefile.in
apache2/.dirstamp                                  
apache2/Makefile
apache2/Makefile.in
apache2/ag_mdb/.deps/
apache2/ag_mdb/.dirstamp
apache2/libinjection/.dirstamp
apache2/mod_security2.la
apache2/modsecurity_config_auto.h
apache2/modsecurity_config_auto.h.in
apache2/stamp-h1
apache2/waf_lock/.deps/
apache2/waf_lock/.dirstamp
apache2/waf_logging/.deps/
apache2/waf_logging/.dirstamp
autom4te.cache/
build/apxs-wrapper
build/ar-lib
build/config.guess
build/config.sub
build/depcomp
build/install-sh
build/libtool.m4
build/ltmain.sh
build/ltoptions.m4
build/ltsugar.m4
build/ltversion.m4
build/lt~obsolete.m4
build/missing
build/test-driver
config.status
configure
doc/Makefile.in                                
ext/Makefile.in                                    
libtool
mlogc/Makefile.in
standalone/.libs/
standalone/Makefile
standalone/Makefile.in
standalone/standalone.la
standalone/.deps/
standalone/.dirstamp
tests/Makefile
tests/Makefile.in
tests/csv_rx-pm.pl
tests/gen_rx-pm.pl
tests/regression/server_root/conf/httpd.conf
tests/run-regression-tests.pl
tests/run-unit-tests.pl
tools/Makefile
tools/Makefile.in
tools/rules-updater.pl