
user  root;
worker_processes  1;
daemon on;
error_log  logs/error.log  debug;
events {
	worker_connections  1024;
}

http {
	ModSecurityEnabled [% enable %];
	ModSecurityConfig [% config %];
	server {

		listen [% listen %];
		server_name localhost;
		location / {
			error_page 405 = $uri;
		}
	}
}


